/* Custom Fonts */
@font-face {
  font-family: 'SourceCodeVF';
  font-style: normal;
  font-weight: 100 900;
  src: url('../fonts/SourceCodeVF-Upright.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Sauce Code Pro NF';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Sauce Code Pro NF.ttf') format('truetype');
}

@font-face {
  font-family: 'Sauce Code Pro NF';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Sauce Code Pro NF.ttf') format('truetype');
}

/* 中文字体 */
@font-face {
  font-family: 'HKHK';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/hkszW5.ttf') format('truetype');
  font-display: swap;
  unicode-range: U+4E00-9FFF, U+3400-4DBF, U+20000-2A6DF, U+2A700-2B73F, U+2B740-2B81F, U+2B820-2CEAF, U+F900-FAFF, U+2F800-2FA1F;
}